@import "tailwindcss";

@font-face{
  font-family: 'Google Sans';
  src: url('/fonts/sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}